source/code/cfn/json/state-submit-final.json
{
  "Comment": "A simple example that submits a Job to AWS Batch",
  "StartAt": "GetOutputs",
  "States": {
    "GetOutputs": {
      "Type": "Task",
      "InputPath": "$",
      "ResultPath": "$.result",
      "Resource": "${BatchSubmitLambdaArn}",
      "Parameters": {
        "Outputs.$": "$.Outputs"
      },
      "Next": "CheckOutputs"
    },
    "CheckOutputs": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.result",
          "BooleanEquals": true,
          "Next": "GetInputs"
        }
      ],
      "Default": "EndState"
    },
    "GetInputs": {
      "Type": "Task",
      "InputPath": "$",
      "ResultPath": "$.result",
      "Resource": "${BatchSubmitLambdaArn}",
      "Parameters": {
        "Outputs.$": "$.Inputs"
      },
      "Next": "CheckInputs"
    },
    "CheckInputs": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.result",
          "BooleanEquals": false,
          "Next": "SubmitJob"
        }
      ],
      "Default": "WaitState"
    },
    "WaitState": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "GetInputs"
    },
    "SubmitJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "InputPath": "$",
      "Parameters": {
        "JobName.$": "$.JobName",
        "JobDefinition.$": "$.JobDefinition",
        "JobQueue.$": "$.JobQueue",
        "ContainerOverrides.$": "$.ContainerOverrides",
        "RetryStrategy.$": "$.RetryStrategy"
      },
      "Next": "EndState"
    },
    "EndState": {
      "Type": "Succeed"
    }
  }
}
